In [1]:
import pandas as pd
import yfinance as yf

In [15]:
tickers = ["AAPL"]
start_date = "2020-01-01"
end_date = "2023-12-31"
data_dir = r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data\testing"

In [27]:
tickers = yf.Tickers('MSFT AAPL GOOG')

df = yf.download(['MSFT', 'AAPL', 'GOOG'], start='2020-01-01', end='2023-12-31')
df = df.stack(level=1, future_stack=True).reset_index()
df.columns = ['Date', 'Ticker'] + list(df.columns[2:])
df

[*********************100%***********************]  3 of 3 completed

,Date,Ticker,Close,High,Low,Open,Volume
0,2020-01-02,AAPL,72.796021,72.856613,71.545387,71.799873,135480400
1,2020-01-02,GOOG,68.123726,68.162086,66.837348,66.837348,28132000
2,2020-01-02,MSFT,153.630692,153.735906,151.440346,151.870762,22622100
3,2020-01-03,AAPL,72.088287,72.851753,71.862884,72.020424,146322800
4,2020-01-03,GOOG,67.789421,68.379304,67.036329,67.151713,23728000
...,...,...,...,...,...,...,...
3013,2023-12-28,GOOG,140.774185,141.760646,140.323808,141.342152,12192500
3014,2023-12-28,MSFT,372.494507,373.665741,371.382825,372.583835,14327000
3015,2023-12-29,AAPL,191.591400,193.452279,190.795297,192.954716,42628800
3016,2023-12-29,GOOG,140.425430,140.928627,139.399119,140.176325,14872700
3017,2023-12-29,MSFT,373.248932,374.360614,370.707935,373.209220,18723000

In [30]:
for ticker in tickers:
    df = yf.download(ticker, start=start_date, end=end_date)
df
    # print(df)
    # file_path = data_dir + f"/{ticker}.csv"
    # df.to_csv(file_path)
    # print(f"Saved {ticker} data to {file_path}")

TypeError: 'Tickers' object is not iterable

In [5]:
pd.set_option('display.multi_sparse', True)

In [2]:
df_mchp = pd.read_csv(r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data\MCHP.csv")

In [3]:
df_mchp

,Price,Close,High,Low,Open,Volume
0,Ticker,MCHP,MCHP,MCHP,MCHP,MCHP
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.192989349365234,40.25078138575982,39.237177105913396,39.37943729621201,3266200
3,2018-01-03,40.7975959777832,40.97986866349778,40.179652907252134,40.237448340162004,5060000
4,2018-01-04,40.8953857421875,41.27771053309497,40.650877910071955,41.00208339901019,3292600
...,...,...,...,...,...,...
1506,2023-12-22,88.1865463256836,89.37944677201436,87.66832079471763,88.5678823752592,2388000
1507,2023-12-26,89.28167724609375,89.74123806543513,88.50922506506099,88.51900501821594,2417800
1508,2023-12-27,89.09588623046875,89.75100123085996,88.61676559443599,89.54566701252467,3411300
1509,2023-12-28,88.82210540771484,89.73144698043214,88.75366066395839,89.4478955133822,2375300
1510,2023-12-29,88.17677307128906,89.30122886232813,87.726992246857,88.73411099068508,2488500

In [107]:
df_apple =pd.read_csv(r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data\AAPL.csv")

In [109]:
df_apple

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.52433776855469,40.53374981917436,39.818584737192324,40.03031280038836,102223600
3,2018-01-03,40.51729202270508,41.063076244861655,40.453776816404016,40.587868063797266,118071600
4,2018-01-04,40.705482482910156,40.80899350294978,40.48199473854038,40.59020819429411,89738400
...,...,...,...,...,...,...
1506,2023-12-22,192.6561737060547,194.45734722393942,192.02924020237552,194.22845757962483,37122800
1507,2023-12-26,192.10885620117188,192.94475743470915,191.88992751842636,192.66612369019674,28919300
1508,2023-12-27,192.20835876464844,192.5566585360189,190.15840400250286,191.55158790358445,48087700
1509,2023-12-28,192.6362762451172,193.71101293849657,192.22827139973785,193.1935437488545,34049900
1510,2023-12-29,191.5913848876953,193.452263485871,190.7952819760843,192.9547010641641,42628800

In [2]:
df_aaa = pd.read_csv(r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\gscf\data\merged_stock_data.csv")

In [3]:
df_aaa.set_index(['Ticker', 'Date'], inplace=True)

In [4]:
df_aaa

                        Close        High         Low        Open    Volume  \
Ticker Date
AMD    2020-01-02   49.099998   49.250000   46.630001   46.860001  80331100
       2020-01-03   48.599998   49.389999   47.540001   48.029999  73127400
       2020-01-06   48.389999   48.860001   47.860001   48.020000  47934900
       2020-01-07   48.250000   49.389999   48.040001   49.349998  58061400
       2020-01-08   47.830002   48.299999   47.139999   47.849998  53767000
...                       ...         ...         ...         ...       ...
AMZN   2023-12-22  153.419998  154.350006  152.710007  153.770004  29480100
       2023-12-26  153.410004  153.979996  153.029999  153.559998  25067200
       2023-12-27  153.339996  154.779999  153.119995  153.559998  31434700
       2023-12-28  153.380005  154.080002  152.949997  153.720001  27057000
       2023-12-29  151.940002  153.889999  151.029999  153.100006  39789000

                   Daily Return  30D Rolling Avg     14D EMA  Volatility
Ticker Date
AMD    2020-01-02           NaN        49.099998   49.099998         NaN
       2020-01-03     -0.010183        48.849998   49.033332         NaN
       2020-01-06     -0.004321        48.696665   48.947554    0.004145
       2020-01-07     -0.002893        48.584999   48.854547    0.003863
       2020-01-08     -0.008705        48.434000   48.717941    0.003473
...                         ...              ...         ...         ...
AMZN   2023-12-22     -0.002730       147.274000  150.229099    0.013080
       2023-12-26     -0.000065       147.602333  150.653220    0.012190
       2023-12-27     -0.000456       147.960666  151.011457    0.012119
       2023-12-28      0.000261       148.213333  151.327263    0.012018
       2023-12-29     -0.009388       148.504667  151.408962    0.012001

[5030 rows x 9 columns]

In [12]:
df_aaa.xs('AMZN', level='Ticker').head(10)

,Close,High,Low,Open,Volume,Daily Return,30D Rolling Avg,14D EMA,Volatility
Date,,,,,,,,,
2020-01-02,94.900497,94.900497,93.207497,93.750000,80580000,NaN,94.900497,94.900497,NaN
2020-01-03,93.748497,94.309998,93.224998,93.224998,75288000,-0.012139,94.324497,94.746897,NaN
2020-01-06,95.143997,95.184502,93.000000,93.000000,81236000,0.014886,94.597664,94.799844,0.019109
2020-01-07,95.343002,95.694504,94.601997,95.224998,80898000,0.002092,94.783998,94.872265,0.013519
2020-01-08,94.598503,95.550003,94.321999,94.902000,70160000,-0.007809,94.746899,94.835764,0.012001
2020-01-09,95.052498,95.890999,94.790001,95.494499,63346000,0.004799,94.797832,94.864661,0.010685
2020-01-10,94.157997,95.347000,94.000000,95.268501,57074000,-0.009411,94.706427,94.770440,0.010357
2020-01-13,94.565002,94.900002,94.040001,94.565498,55616000,0.004323,94.688749,94.743048,0.009687
2020-01-14,93.472000,94.355499,92.927498,94.293999,68818000,-0.011558,94.553555,94.573575,0.009789
2020-01-15,93.100998,93.943001,92.754501,93.612503,57932000,-0.003969,94.408299,94.377231,0.009183

In [117]:
df_aaa.xs('AAPL', level='Ticker').head(10)

,Close,High,Low,Open,Volume,Daily Return,30D Rolling Avg,14D EMA,Volatility
Date,,,,,,,,,
2018-01-02,40.524338,40.533750,39.818585,40.030313,102223600,NaN,40.524338,40.524338,NaN
2018-01-03,40.517292,41.063076,40.453777,40.587868,118071600,-0.000174,40.520815,40.523398,NaN
2018-01-04,40.705482,40.808994,40.481995,40.590208,89738400,0.004645,40.582371,40.547676,0.003407
2018-01-05,41.168926,41.255968,40.710187,40.801935,94640000,0.011385,40.729010,40.630510,0.005806
2018-01-08,41.016022,41.312437,40.917213,41.016022,82271200,-0.003714,40.786412,40.681911,0.006536
2018-01-09,41.011318,41.183050,40.794888,41.063074,86336000,-0.000115,40.823896,40.725832,0.005833
2018-01-10,41.001904,41.004258,40.698431,40.736072,95839600,-0.000230,40.849326,40.762642,0.005327
2018-01-11,41.234798,41.284203,41.048952,41.072475,74670800,0.005680,40.897510,40.825596,0.005061
2018-01-12,41.660606,41.724125,41.321844,41.446527,101672400,0.010326,40.982299,40.936931,0.005443
2018-01-16,41.448898,42.201701,41.437135,41.851176,118263600,-0.005082,41.028959,41.005193,0.005836

In [77]:
df_aaa = df_aaa.stack(level=1, future_stack=True).reset_index()
df_aaa.columns = ['Date', 'Ticker'] + list(df_aaa.columns[2:])

IndexError: Too many levels: Index has only 1 level, not 2

In [75]:
df_aaa
df_aaa = df_aaa.stack(level=1, future_stack=True).reset_index()
df_aaa.columns = ['Date', 'Ticker'] + list(df_aaa.columns[2:])

IndexError: Too many levels: Index has only 1 level, not 2

In [30]:
ticker_value = df_aaa.iloc[0, 1]  # Ticker value in first row (second column)
df_aaa = df_aaa.iloc[2:].reset_index(drop=True)  # Remove the first two rows (Ticker and Date rows)

df_aaa['Ticker'] = ticker_value

df_aaa.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'Ticker']

df_aaa['Date'] = pd.to_datetime(df_aaa['Date'])

df_aaa.set_index(['Ticker', 'Date'], inplace=True)

df_aaa.sort_index(inplace=True)

df_aaa

                                Close                High                 Low  \
Ticker Date
AMD    2020-01-02  49.099998474121094               49.25  46.630001068115234
       2020-01-03  48.599998474121094   49.38999938964844  47.540000915527344
       2020-01-06   48.38999938964844   48.86000061035156   47.86000061035156
       2020-01-07               48.25   49.38999938964844  48.040000915527344
       2020-01-08   47.83000183105469   48.29999923706055   47.13999938964844
...                               ...                 ...                 ...
       2023-12-22  139.60000610351562   140.6999969482422  138.30999755859375
       2023-12-26  143.41000366210938  143.85000610351562   139.9199981689453
       2023-12-27  146.07000732421875              146.25  143.17999267578125
       2023-12-28  148.75999450683594  150.41000366210938   145.9499969482422
       2023-12-29  147.41000366210938   151.0500030517578   147.1999969482422

                                 Open    Volume
Ticker Date
AMD    2020-01-02   46.86000061035156  80331100
       2020-01-03  48.029998779296875  73127400
       2020-01-06   48.02000045776367  47934900
       2020-01-07  49.349998474121094  58061400
       2020-01-08  47.849998474121094  53767000
...                               ...       ...
       2023-12-22  140.47999572753906  35370400
       2023-12-26  140.07000732421875  47157400
       2023-12-27  144.72000122070312  49033400
       2023-12-28   146.8000030517578  63800700
       2023-12-29               149.5  62028200

[1006 rows x 5 columns]

In [32]:
df_aaa["Daily Return"] = df_aaa["Close"].astype(float).pct_change()
df_aaa["30D Rolling Avg"] = df_aaa["Close"].rolling(30).mean()
df_aaa["14D EMA"] = df_aaa["Close"].ewm(span=14, adjust=False).mean()
df_aaa["Volatility"] = df_aaa["Daily Return"].rolling(10).std()

df_aaa.ffill(inplace=True)
df_aaa["Volume"].bfill(inplace=True)

C:\Users\Szabó Bendegúz\AppData\Local\Temp\ipykernel_24964\323297359.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_aaa["Volume"].bfill(inplace=True)

In [33]:
df_aaa

                                Close                High                 Low  \
Ticker Date
AMD    2020-01-02  49.099998474121094               49.25  46.630001068115234
       2020-01-03  48.599998474121094   49.38999938964844  47.540000915527344
       2020-01-06   48.38999938964844   48.86000061035156   47.86000061035156
       2020-01-07               48.25   49.38999938964844  48.040000915527344
       2020-01-08   47.83000183105469   48.29999923706055   47.13999938964844
...                               ...                 ...                 ...
       2023-12-22  139.60000610351562   140.6999969482422  138.30999755859375
       2023-12-26  143.41000366210938  143.85000610351562   139.9199981689453
       2023-12-27  146.07000732421875              146.25  143.17999267578125
       2023-12-28  148.75999450683594  150.41000366210938   145.9499969482422
       2023-12-29  147.41000366210938   151.0500030517578   147.1999969482422

                                 Open    Volume  Daily Return  \
Ticker Date
AMD    2020-01-02   46.86000061035156  80331100           NaN
       2020-01-03  48.029998779296875  73127400     -0.010183
       2020-01-06   48.02000045776367  47934900     -0.004321
       2020-01-07  49.349998474121094  58061400     -0.002893
       2020-01-08  47.849998474121094  53767000     -0.008705
...                               ...       ...           ...
       2023-12-22  140.47999572753906  35370400     -0.002216
       2023-12-26  140.07000732421875  47157400      0.027292
       2023-12-27  144.72000122070312  49033400      0.018548
       2023-12-28   146.8000030517578  63800700      0.018416
       2023-12-29               149.5  62028200     -0.009075

                   30D Rolling Avg     14D EMA  Volatility
Ticker Date
AMD    2020-01-02              NaN   49.099998         NaN
       2020-01-03              NaN   49.033332         NaN
       2020-01-06              NaN   48.947554         NaN
       2020-01-07              NaN   48.854547         NaN
       2020-01-08              NaN   48.717941         NaN
...                            ...         ...         ...
       2023-12-22       126.757667  134.424886    0.021282
       2023-12-26       127.585000  135.622901    0.018959
       2023-12-27       128.561000  137.015849    0.018498
       2023-12-28       129.523667  138.581735    0.018875
       2023-12-29       130.504000  139.758837    0.019429

[1006 rows x 9 columns]

In [42]:
df_look = pd.read_csv(r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data\merged_stock_data.csv")

In [47]:
df_look = pd.read_csv(
    r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data\merged_stock_data_with_analysis.csv",
    index_col=['Ticker', 'Date'],  # Set MultiIndex on load
    parse_dates=['Date']  # Ensure 'Date' column is parsed as datetime
)

In [50]:
df_look["Crossover"].value_counts()

Crossover
-1    2852
 1    2148
 0      30
Name: count, dtype: int64

In [37]:
df_look.set_index(['Ticker', 'Date'], inplace=True)

KeyError: "None of ['Ticker', 'Date'] are in the columns"

In [75]:
df_look

                       Close       High        Low       Open     Volume  \
Ticker Date
AAPL   2020-01-02  72.796028  72.856621  71.545395  71.799881  135480400
       2020-01-03  72.088287  72.851753  71.862884  72.020424  146322800
       2020-01-06  72.662712  72.701492  70.954002  71.206070  118387200
       2020-01-07  72.320961  72.929306  72.100403  72.672394  108872000
       2020-01-08  73.484352  73.787315  72.022858  72.022858  132079200
...                      ...        ...        ...        ...        ...
NVDA   2023-12-22  48.816162  49.369003  48.453262  49.181057  252507000
       2023-12-26  49.265030  49.585938  48.946120  48.954117  244200000
       2023-12-27  49.402988  49.665914  49.071082  49.496964  233648000
       2023-12-28  49.507965  49.869862  49.397996  49.628933  246587000
       2023-12-29  49.507965  49.982833  48.737184  49.798883  389293000

                   Daily Return  30D Rolling Avg    14D EMA  Volatility
Ticker Date
AAPL   2020-01-02           NaN              NaN  72.796028         NaN
       2020-01-03     -0.009722              NaN  72.701663         NaN
       2020-01-06      0.007968              NaN  72.696469         NaN
       2020-01-07     -0.004703              NaN  72.646402         NaN
       2020-01-08      0.016086              NaN  72.758128         NaN
...                         ...              ...        ...         ...
NVDA   2023-12-22     -0.003266        48.176238  48.308887    0.017986
       2023-12-26      0.009195        48.207837  48.436373    0.016386
       2023-12-27      0.002800        48.234539  48.565255    0.015340
       2023-12-28      0.002125        48.230219  48.690950    0.015230
       2023-12-29      0.000000        48.251490  48.799885    0.015232

[5030 rows x 9 columns]

In [38]:
class StockDataFetcher:
    def __init__(self, tickers, start_date, end_date, data_dir):
        self.tickers = tickers
        self.start_date = start_date
        self.end_date = end_date
        self.data_dir = data_dir

    def fetch_and_save(self):
        """Fetches stock data and saves as CSV."""
        for ticker in self.tickers:
            df = yf.download(ticker, start=self.start_date, end=self.end_date)
            print("Original DataFrame:")
            print(df.head())

            # Check if the DataFrame has a MultiIndex
            if isinstance(df.columns, pd.MultiIndex):
                df = df.stack(level=1, future_stack=True).reset_index()
                df.columns = ['Date', 'Ticker'] + list(df.columns[2:])
                print("Transformed DataFrame:")
                print(df.head())
            else:
                print("DataFrame does not have a MultiIndex. Skipping transformation.")

            file_path = self.data_dir + f"/{ticker}.csv"
            df.to_csv(file_path, index=False)
            print(f"Saved {ticker} data to {file_path}")

# Example usage
fetcher = StockDataFetcher(tickers=['AAPL', 'GOOG'], start_date='2020-01-01', end_date='2020-01-10', data_dir=r"C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data")
fetcher.fetch_and_save()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Original DataFrame:
Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-01-02  72.796028  72.856621  71.545395  71.799881  135480400
2020-01-03  72.088295  72.851761  71.862892  72.020432  146322800
2020-01-06  72.662704  72.701485  70.953995  71.206062  118387200
2020-01-07  72.320976  72.929322  72.100418  72.672409  108872000
2020-01-08  73.484352  73.787315  72.022858  72.022858  132079200
Transformed DataFrame:
        Date Ticker      Close       High        Low       Open     Volume
0 2020-01-02   AAPL  72.796028  72.856621  71.545395  71.799881  135480400
1 2020-01-03   AAPL  72.088295  72.851761  71.862892  72.020432  146322800
2 2020-01-06   AAPL  72.662704  72.701485  70.953995  71.206062  118387200
3 2020-01-07   AAPL  72.320976  72.929322  72.100418  72.672409  108872000
4 2020-01-08   AAPL  73.484352  73.787315  72.022858  72.022858  132079200
Saved AAPL data to C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data/AAPL.csv
Original DataFrame:
Price           Close       High        Low       Open    Volume
Ticker           GOOG       GOOG       GOOG       GOOG      GOOG
Date
2020-01-02  68.123726  68.162086  66.837348  66.837348  28132000
2020-01-03  67.789429  68.379312  67.036336  67.151721  23728000
2020-01-06  69.460922  69.575007  67.258334  67.258334  34646000
2020-01-07  69.417572  69.898343  69.270099  69.646752  30054000
2020-01-08  69.964615  70.326314  69.293024  69.354799  30560000
Transformed DataFrame:
        Date Ticker      Close       High        Low       Open    Volume
0 2020-01-02   GOOG  68.123726  68.162086  66.837348  66.837348  28132000
1 2020-01-03   GOOG  67.789429  68.379312  67.036336  67.151721  23728000
2 2020-01-06   GOOG  69.460922  69.575007  67.258334  67.258334  34646000
3 2020-01-07   GOOG  69.417572  69.898343  69.270099  69.646752  30054000
4 2020-01-08   GOOG  69.964615  70.326314  69.293024  69.354799  30560000
Saved GOOG data to C:\Users\Szabó Bendegúz\OneDrive - Ace Advisory\Documents\adatbank_rolinak\data/GOOG.csv

In [71]:
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
from tqdm.notebook import tqdm
import pandas as pd
import time
from requests.adapters import HTTPAdapter, Retry
from itertools import repeat
from concurrent.futures import ThreadPoolExecutor
import concurrent.futures
import random
import re
from datetime import datetime, timedelta

def tm_profile_scraper_helper(player):
    ua = UserAgent()
    headers = {"User-Agent": ua.random}


    retries = 0
    while retries <= 3:
        try:
            tree = requests.get(player["link"], headers=headers)
            time.sleep(random.randint(1, 2))
            tree.raise_for_status()  # Raise an exception for 4xx or 5xx status codes
            
            break  # If successful, break out of retry loop
        except requests.HTTPError as e:
            print(f"HTTP error occurred while fetching URL: {player['link']}")
            print(f"Error message: {e}")
        except Exception as e:
            print(f"An error occurred while fetching URL: {player['link']}")
            print(f"Error message: {e}")
        retries += 1
    else:
        # If all retries fail, return an empty list
        print(f"Failed to fetch URL after {3} attempts: {player['link']}")
        return []

    soup = BeautifulSoup(tree.content, "html.parser")

    d = dict()
    d["league"] = player["league"]
    d["league_url"] = player["league_link"]
    d["tm_url"] = player["link"]
    d["tm_club"] = player["team"]
    d["tm_club_url"] = player["club_link"]
    d["tm_club_url"] = player["club_link"]
    # scrapes the name in the h1 tag
    d["tm_name"] = (
        soup.find("h1", {"class": "data-header__headline-wrapper"})
        .text.split("\n")[-1]
        .strip()
    )
    # d['tm_name'] = soup.find('h1', {'itemprop': 'name'}).text
    # scrapes the dataRibbon next to the club image for the transaction columns
    if soup.find("div", {"class": "data-header__ribbon"}) is not None:
        dataRibbon = soup.find("div", {"class": "data-header__ribbon"}).a[
            "title"
        ]
        if "Joined as a winter arrival from" in dataRibbon:
            d["tm_transaction_type"] = "Joined as a winter arrival from"
            d["tm_transaction_club"] = dataRibbon.split(";")[0].split(": ")[
                -1
            ]
            d["tm_transaction_fee"] = dataRibbon.split(";")[-1].split(": ")[
                -1
            ]
        elif "Returned after loan spell" in dataRibbon:
            d["tm_transaction_type"] = "Returned after loan spell"
            d["tm_transaction_club"] = dataRibbon.split(";")[0].split(
                " with "
            )[-1]
            d["tm_transaction_fee"] = dataRibbon.split(";")[-1].split(": ")[
                -1
            ]
        elif "On loan from" in dataRibbon:
            d["tm_transaction_type"] = "On loan from"
            d["tm_transaction_club"] = dataRibbon.split("On loan from ")[
                -1
            ].split(" until ")[0]
            d["tm_transaction_fee"] = "N/A"
        elif "Joined from" in dataRibbon:
            d["tm_transaction_type"] = "Joined from"
            d["tm_transaction_club"] = dataRibbon.split(";")[0].split(
                "Joined from "
            )[-1]
            d["tm_transaction_fee"] = dataRibbon.split(";")[-1].split(": ")[
                -1
            ]
        elif "Internal transfer" in dataRibbon:
            d["tm_transaction_type"] = "Internal transfer"
            d["tm_transaction_club"] = dataRibbon.split(";")[0].split(": ")[
                -1
            ]
            d["tm_transaction_fee"] = "N/A"
        elif "Joining" in dataRibbon:
            d["tm_transaction_type"] = "Joining"
            d["tm_transaction_club"] = dataRibbon.split(";")[0].split(": ")[
                -1
            ]
            d["tm_transaction_fee"] = dataRibbon.split(";")[-1].split(": ")[
                -1
            ]
        else:
            d["tm_transaction_type"] = dataRibbon
    else:
        d["tm_transaction_type"] = "N/A"
        d["tm_transaction_club"] = "N/A"
        d["tm_transaction_fee"] = "N/A"
    # scrapes the value in the blue box
    try:
        d["tm_value"] = soup.find(
            "div", {"class": "data-header__box--small"}
        ).a.text.split(" ")[0]
    except AttributeError:
        d["tm_value"] = "check"
    # scrapes the player data table for the relevant columns
    data_headers = soup.select(
        "div.info-table.info-table--right-space span.info-table__content.info-table__content--regular"
    )
    data_items = soup.select(
        "div.info-table.info-table--right-space span.info-table__content.info-table__content--bold"
    )
    if len(data_headers) != len(data_items):
        print(f"Profile table error: {player}")
    for header, item in zip(data_headers, data_items):
        header_clean = header.text
        if "Position" in header_clean:
            if "Goalkeeper" in item.text:
                d["tm_position"] = item.text.strip()
            else:
                d["tm_position"] = item.text.split(" - ")[-1].strip()
        elif "Joined" in header_clean:
            d["tm_transaction_date"] = item.text.strip()
        elif "Contract expires" in header_clean:
            d["tm_contract"] = item.text
        elif "Contract there expires" in header_clean:
            d["tm_contrac_until"] = item.text
        elif "Contract option" in header_clean:
            d["tm_contract_option"] = item.text
        elif "Citizenship" in header_clean:
            d["tm_nation1"] = item.text.split("\xa0\xa0")[1].strip()
            if len(item.text.split("\xa0\xa0")) > 2:
                d["tm_nation2"] = item.text.split("\xa0\xa0")[2].strip()
            else:
                d["tm_nation2"] = "N/A"
        # elif "Date of birth" in header_clean:
        #     d["tm_born"] = item.text
        elif "Date of birth/Age:" in header_clean:
            d["tm_born"] =  item.text.split('(')[0].strip() 
        elif "Full name" in header_clean:
            d["tm_fullname"] = item.text
        elif "Name in home country" in header_clean:
            d["tm_name_in_home_country"] = item.text
        elif "Foot" in header_clean:
            d["tm_foot"] = item.text
    # Scrapes the first row of the international table if it's present
    intl_table = soup.select("div.box .grid .national-career__row")

    if len(intl_table) > 1:  # Skip header row
        intl_row = intl_table[1]  # First data row

        # Get the national team name
        team_cell = intl_row.find("div", {"class": "grid__cell grid__cell--club"})
        if team_cell:
            d["tm_intl_team"] = team_cell.a["title"]
        
        # Get debut date (3rd column)
        debut_cell = intl_row.find_all("div", {"class": "grid__cell grid__cell--center"})[0]
        print(debut_cell.text)
        d["tm_intl_debut"] = debut_cell.text.strip() if debut_cell else "N/A"
        
        # Get the number of caps (4th column)
        caps_cell = intl_row.find_all("div", {"class": "grid__cell grid__cell--center"})[1]
        d["tm_intl_caps"] = caps_cell.text.strip() if caps_cell else "N/A"
        print(caps_cell.text)
        
        # Get the number of goals (5th column)
        goals_cell = intl_row.find_all("div", {"class": "grid__cell grid__cell--center"})[2]
        d["tm_intl_goals"] = goals_cell.text.strip() if goals_cell else "N/A"
        print(goals_cell.text)
    else:
        d["tm_intl_team"] = "N/A"
        d["tm_intl_debut"] = "N/A"
        d["tm_intl_caps"] = "N/A"
        d["tm_intl_goals"] = "N/A"

    # intl_table = soup.select('table.borderloser_odd_even_style tr')
    # if len(intl_table) > 0:
    #     d['tm_intl_team'] = intl_table[1].find('td', {'class': 'hauptlink no-border-links'}).a.text
    #     d['tm_intl_caps'] = intl_table[1].find_all('td', {'class': 'zentriert'})[3].text
    #     d['tm_intl_goals'] = intl_table[1].find_all('td', {'class': 'zentriert'})[4].text
    # else:
    #     d['tm_intl_team'] = 'N/A'
    #     d['tm_intl_caps'] = 'N/A'
    #     d['tm_intl_goals'] = 'N/A'
    # fills the missing colums with the appropriate values
    if "tm_fullname" not in d:
        d["tm_fullname"] = (
            soup.find("h1", {"class": "data-header__headline-wrapper"})
            .text.split("\n")[-1]
            .strip()
        )
    if "tm_contrac_until" not in d:
        d["tm_contrac_until"] = "N/A"
        
    return d

In [55]:
player_df = pd.read_csv(r"G:\Shared drives\EveryOne\Football Benchmark\13. Player Valuation\Modelling (past & ongoing inputs)\5. Squad list\2025_02\squadlist-playerlinks.csv")
players=[]
for index, row in player_df.iterrows():
    p = dict()
    p['league'] = row['league']
    p['league_link'] = row['league_link']
    p['team'] = row['team']
    p['club_link'] = row['club_link']
    p['link'] = row['link']
    players.append(p)
len(players)

34726

In [60]:
tryout = players[0:2]
tryout

[{'league': 'L2',
  'league_link': 'https://www.transfermarkt.com/1-bundesliga/startseite/wettbewerb/L2',
  'team': '1.FC Köln',
  'club_link': 'https://www.transfermarkt.com/1-fc-koln/startseite/verein/3/saison_id/2024',
  'link': 'https://www.transfermarkt.com/marvin-schwabe/profil/spieler/160929'},
 {'league': 'L2',
  'league_link': 'https://www.transfermarkt.com/1-bundesliga/startseite/wettbewerb/L2',
  'team': '1.FC Köln',
  'club_link': 'https://www.transfermarkt.com/1-fc-koln/startseite/verein/3/saison_id/2024',
  'link': 'https://www.transfermarkt.com/anthony-racioppi/profil/spieler/395671'}]

In [73]:
for player in tryout:
    print(player)
    a = tm_profile_scraper_helper(player)

{'league': 'L2', 'league_link': 'https://www.transfermarkt.com/1-bundesliga/startseite/wettbewerb/L2', 'team': '1.FC Köln', 'club_link': 'https://www.transfermarkt.com/1-fc-koln/startseite/verein/3/saison_id/2024', 'link': 'https://www.transfermarkt.com/marvin-schwabe/profil/spieler/160929'}

Sep 3, 2015


4


-

{'league': 'L2', 'league_link': 'https://www.transfermarkt.com/1-bundesliga/startseite/wettbewerb/L2', 'team': '1.FC Köln', 'club_link': 'https://www.transfermarkt.com/1-fc-koln/startseite/verein/3/saison_id/2024', 'link': 'https://www.transfermarkt.com/anthony-racioppi/profil/spieler/395671'}

                                            -

-


-

In [74]:
a

{'league': 'L2',
 'league_url': 'https://www.transfermarkt.com/1-bundesliga/startseite/wettbewerb/L2',
 'tm_url': 'https://www.transfermarkt.com/anthony-racioppi/profil/spieler/395671',
 'tm_club': '1.FC Köln',
 'tm_club_url': 'https://www.transfermarkt.com/1-fc-koln/startseite/verein/3/saison_id/2024',
 'tm_name': 'Anthony Racioppi',
 'tm_transaction_type': 'On loan from',
 'tm_transaction_club': 'Hull City',
 'tm_transaction_fee': 'N/A',
 'tm_value': '€1.50m',
 'tm_born': 'Dec 31, 1998',
 'tm_nation1': 'Switzerland',
 'tm_nation2': 'France',
 'tm_position': 'Goalkeeper',
 'tm_foot': 'right',
 'tm_transaction_date': 'Jan 31, 2025',
 'tm_contract': 'Jun 30, 2025',
 'tm_contract_option': 'Option to buy',
 'tm_contrac_until': 'Jun 30, 2027',
 'tm_intl_team': 'Switzerland',
 'tm_intl_debut': '-',
 'tm_intl_caps': '-',
 'tm_intl_goals': '-',
 'tm_fullname': 'Anthony Racioppi'}